*.rbc
*.sassc
.sass-cache
capybara-*.html
config/database.yml
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp
/db/*.pg
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html

config/initializers/secret_token.rb
config/secrets.yml

