<div id="container">
	<div id="header">
			<div id="nav">
				<h1><b>Smart SOS</b></h1>
					<a href="/aboutus">About us</a>
					<a href="/howitworks">How it works</a>
					<a href="<%=organizations_login_path%>">Organization login</a>
					<a id="pledge" href="<%=campaigns_path%>">Make a pledge</a>
			</div>
	</div>

	<div id="quote">
		<h1><em>"The purpose of human life is to serve, and to show compassion and the will to help <b>others</b><em>."</h1>
	</div>
</div>



<div id="footer">
	<img src="http://familylearningsolutions.com/wp-content/uploads/2012/02/kids-holding-hands-clipart.png">
</div>
