<div id="container">

<%= render "navbar" %>

	<div id="quote">
		<h1><em>"The purpose of human life is to serve, and to show compassion and the will to help <b>others</b><em>."</h1>
	</div>

	<div id="footer">
		<img src="http://familylearningsolutions.com/wp-content/uploads/2012/02/kids-holding-hands-clipart.png">
	</div>

</div>


