<div id="container">
	<div id="header">
		<div id="nav">
			<h1>Smart SOS</h1>
				<a href="#">How it works</a>
				<a href="#">About us</a>
				<a href="#">Browse Campaigns</a>
				<a href="#">Start a Campaign</a>
				<a id="pledge" href="#">Make a pledge</a>
			</div>
		</div>
		<div id="quote">
			<h1><em>The purpose of human life is to serve, and to show compassion and the will to help <b>others</b>.<em></h1>
		</div>
	<div class="green">
		<!-- <div class="grid"> -->
			<!-- <div class="section-header"> -->
				<p id="HOW-IT-WORKS">Easy as 1-2-3</p>
			<!-- </div> -->
				<!-- <div class="row"> -->
					<span class="column">Pick a campaign</span>
					<span class="column">Select your items</span>
					<span class="column">Send</span>
				<!-- </div> -->
			<!-- </div> -->
	</div>
	<div class="red">
		<!-- <p id="OUR-STORY">Our story</p> -->
	</div>
</div>


