<div id="container">
	<div id="header">
		<div id="nav">
			<h1>Smart SOS</h1>
				<a href="#">About us</a>
				<a href="#">How it works</a>
				<a href="<%=organizations_login_path%>">Organization login</a>
				<a id="pledge" href="<%=campaigns_path%>">Make a pledge</a>
			</div>
		</div>
		<div id="quote">
			<h1><em>The purpose of human life is to serve, and to show compassion and the will to help <b>others</b>.<em></h1>
		</div>
	<div class="green">
		<!-- <div class="grid"> -->
			<!-- <div class="section-header"> -->
				<p id="HOW-IT-WORKS">Easy as 1-2-3</p>
				
			<!-- </div> -->
				<!-- <div class="row"> -->
					<span class="column">1. Pick a campaign</span>
					<span class="column">2. Select your items</span>
					<span class="column">3. Send</span>
				<!-- </div> -->
			<!-- </div> -->
	</div>
	<div class="red">
				<p id="OUR-STORY">Sahan write this..</p>
	</div>
</div>


