<h1 class="dashboard-title">Which campaign would you like to support?</h1>

<div class="show_all_campaigns">
  <% @campaigns.each do |campaign| %>
    <div class="campaign col-md-4">
      <%= render 'one_campaign', :campaign => campaign %>
    </div>
  <% end %>
</div>
