<h1 class="dashboard-title">Which campaign would you like to support?</h1>
<hr>
 <h4>It's as Easy as 1-2-3</h4>
 <div id="how">
 	<p>1</p>
 	<p>2</p>
 	<p>3</p>
 </div>
 <div id="description">
 	<p>Pick Campaign</p>
 	<p>Select Items</p>
 	<p>Send!</p>
 </div>
<div class="show_all_campaigns">
  <% @campaigns.each do |campaign| %>
    <div class="campaign col-md-4">
      <%= render 'one_campaign', :campaign => campaign %>
    </div>
  <% end %>
</div>
