.show_all_organizations {
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

.organization {
  border: 1px solid black;
  border-radius: 5px;
  margin: 40px 40px;
  height: 250px;
  width:350px;
}

.org-btn {
  background: #5bc0de;
  border-radius: 10px;
  color: #ffffff;
  position: absolute;
  bottom: 20px;
  left: 80px;
  right: 80px;
}

.org-btn:hover {
  text-decoration: none;
}

.org-desc {
position: absolute;
top: 80px;
right: 10px;
left: 10px;
}
