@import "application_colorway";
@import "dashboard";

.title {
	 font-family: 'Quicksand', sans-serif;
}

.show_all_campaigns {
	margin: 0 auto;
	text-align: center;
	width: 80%;
}

.campaign {
	border-radius: 5px;
	margin: 40px 40px;
	height: 310px;
	width: 350px;
	padding: 10px;
	background-color: $lightgray;
}

.step-box{
	width: auto;
	height: 150px;
	text-align: center;
}

.all {
	position: relative;
	left: 2px;
	right: 2px;
	width: 100%;
}

.all-title {
	width: 100%;
	height: 84px;
	font-size: 18px;
}

.all-title p{
	font-size: 20px;
}


.campaign-desc {
	position: relative;
	height: 130px;
	padding-top: 10px;
	border: 1px solid white;
	border-radius: 5px;
	margin-bottom: 5px;
}



.step{
	float: left;
	width: 33.33%;
	height: 130px;
}

.step p{
	color: $coral;
  font-family: 'Quicksand', sans-serif;
  font-size: 25px;
}

.number{
	height: 100px;
	width: 100px;	
	border-radius: 50px;
	margin: 0 auto;
	background-color: $coral;
	padding-top: 30px;
}

.number p{
	height: 100px;
	width: 100px;
	color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
}


.tag-line {
	font-size: 24px;
	color: $coral;
	opacity: 0.8;
}

.btn.btn-primary.pledge{
  background-color: $coral;
  border: none;
}
