// homepage/dashboard ###################################

$coral: #D91E18;
$bluegray: #889fae;
$jade: #7f8c8d;


// dashboard #################################

$green: green;
$lightgray: #e6e6e6;

// new requests ###############################
$moneygreen: #009966;
$skyblue: #3399CC;
$white: #ffffff;
$darkbluegreen: #00727b
