// homepage/dashboard ###################################

$coral: #ff6666;
$bluegray: #889fae;
$jade: #43aaa3;


// dashboard #################################

$green: green;
$lightgray: #e6e6e6;

// new requests ###############################
$moneygreen: #009966;
$skyblue: #3399CC;
$white: #ffffff;
$darkbluegreen: #00727b
