@import "bootstrap";
@import "donor_form";
@import "nav_bar";
@import "all_campaigns";
@import "organization_form";
@import "dashboard";
@import "homepage";
@import "all_organizations";
@import "new_pledges";
@import "show_campaign.css.scss";
@import "new_requests.css.scss";

body {
	// background-image: url('./whitey.png');
}

// li {
// 	border: 1px solid red;
// 	list-style-type: none;
// }


	div {
		border: 1px solid red;
	}


.alert-danger {
	background: none;
	border: none;
	position: absolute;
	top: 3%;
	padding: 0;
}

#footer {
	height: 20%;
}

#footer img {
	position: relative;
	bottom: 0px;
	height: 20%;
	float:right;
}

#home{
	height: 50px;
}

#home img {
	position: relative;
	height: 50px;
	width: 50px;
	float: right;
}

