@import "bootstrap";
@import "donor_form";
@import "nav_bar";
@import "all_campaigns";
@import "organization_form";
@import "dashboard";
@import "homepage";
@import "all_organizations";
@import "show_campaign";

body {
	background-image: url('./whitey.png');
	padding: 0px;
}

li {
	list-style-type: none;
}

.alert-danger {
	background: none;
	border: none;
	position: absolute;
	top: 3%;
	padding: 0;
}

#footer img {
	position: absolute;
	bottom: 0px;
	height: 20%;
	right: 20%;
}

#home img {
	position: absolute;
	top: 15%;
	height: 7%;
	right: 10%;
}

