$green: green;
$lightgray: #cccccc;

#dashboard-container{
  padding-top: 20px;
  // opacity: 0.8;
}

.dashboard-title{
  font-family: 'Quicksand', sans-serif;
  opacity: 0.8;
}

.detail-box{
  float:left;
  height: 110px;
  width: 146px;
  text-align: center;
  padding-top: 30px;
}

.detail-content{
  color: white;
  font-size: 2em;
}

.detail-footer{
  padding-top: 10px;
  text-align: center;
}

.campaign-holder{
  width: 320px;
  height: 400px;
  padding: 10px;
  // border: 1px solid #cccccc;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: $lightgray;
  // -moz-box-shadow:    1px 1px 2px 2px #666666;
  // -webkit-box-shadow: 1px 1px 2px 2px #666666;
  // box-shadow:         1px 1px 2px 2px #666666;
  opacity: 0.8;
}

.campaign-title{
  text-align: center;
  height: 50px;
  font-size: 15px;
  font-weight: bold;
}

.campaign-details{
  padding-top: 4px;
  height: 250px;
  width: auto;
  border: 1px solid white;
  border-radius: 10px;
}

.edit-org{
  opacity: 0.8;
  color: white;
  text-decoration: none;
  position: absolute;
  border-bottom-left-radius: 10px;
  top: 0px;
  right: 0px;
  height: 50px;
  width: auto;
  padding: 10px;
  background-color: $green;
  float: right;
}

.new-campaign {
}
