@import "application_colorway";

// campaign description area
.campaign-description, .org-name, .org-location{
  height: auto;
  width: auto;
  border-radius: 5px;
  border: 1px solid $jade;
  padding: 5px;
  margin: 5px;
}


// requested items && pledges items columns

.requested-items-title, .pledged-items-title{
  color: $coral;
}

.requested-item {
  height: auto;
  width: 100%;
  padding: 5px;
  margin-top: 2px;
  border-radius: 5px;
  background-color: $jade;
  cursor: pointer;
  overflow: hidden;
}

.pledged-item {
  height: auto;
  width: 100%;
  padding: 5px;
  margin-top: 2px;
  border-radius: 5px;
  background-color: $bluegray;
  cursor: pointer;
  overflow: hidden;
}

.pledged-items-list{
  text-align: center;
  font-weight: bold;
  color: $jade;
}

.requested-item:hover {
  background-color: #00727b;
}

.requested-item-img{
  float: left;
  height: 80px;
  width: 80px;
  border-radius: 10px;
  overflow: hidden;
  margin: 2px;
}

.requested-item-img img {
  height: 80px;
  width: 80px;
}


.requested-item-name, .pledged-item-name{
  float: left;
  width: 60%;
  height: auto;
  color: white;
  font-size: 10px;
}

.requested-items.col-md-3{
  border-right: 1px solid $bluegray;
  border-left: 1px solid $bluegray;
  padding-bottom: 5px;
}

.requested-item-quantity{
  float: left;
  width: 50%;
  height: auto;
  color: $coral;
  font-weight: bold;
}

.pledged-item-quantity{
  float: left;
  width: 50%;
  height: auto;
  color: $coral;
  font-weight: bold;
}

.requested-item-price, .pledged-item-price{
  float: left;
  width: 50%;
  height: auto;
  color: white;
}

.requested-items-total{
  font-size: 25px;
  text-align: center;
}

.pledged-items-total{
  font-size: 25px;
  text-align: center;
}

.btn.btn-primary.submit{
  background-color: $jade;
  margin-left: 25%;
  margin-top: 5px;
}


.container.pledge{
  border-radius: 10px;
  border: 1px solid $bluegray;
  margin-top: 10px;
}
