<% if session[:organization_id] %>
<% end %>

<div>
  <h1 class="dashboard-title">Organization Dashboard</h1>
  <%= link_to "Edit Organization", edit_organization_path(@organization) %>
  <%= link_to "Create New Campaign", new_campaign_path, class:"btn btn-primary new-campaign" %>
</div>

<div class="container" id="dashboard-container">
  <div class="row">
    <%= render "campaign_container" %>
    <div class="col-sm-6 col-md-4">
      <div class="campaign-holder new">
        <%= link_to "Create New Campaign", new_campaign_path, class:"btn btn-primary new-campaign" %>
      </div>
    </div>
  </div>
</div>
